server:
  port: 8088

---

spring:
  profiles: default
  cloud:
    gateway:
      routes:
        - id: reservation
          uri: http://localhost:8081
          predicates:
            - Path=/reservations/**,/db_reservation/**
        - id: assignment
          uri: http://localhost:8082
          predicates:
            - Path=/assignments/**,/db_assignment/**
        - id: product
          uri: http://localhost:8083
          predicates:
            - Path=/products/**,/db_product/**
        - id: customercenter
          uri: http://localhost:8084
          predicates:
            - Path= /reservationpages/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true


---

spring:
  profiles: docker
  cloud:
    gateway:
      routes:
        - id: reservation
          uri: http://reservation:8080
          predicates:
            - Path=/reservations/** 
        - id: assignment
          uri: http://assignment:8080
          predicates:
            - Path=/assignments/** 
        - id: product
          uri: http://product:8080
          predicates:
            - Path=/products/**
        - id: customercenter
          uri: http://reservationpage:8080
          predicates:
            - Path=/reservationpages/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true

server:
  port: 8080
